*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#1e3a8a,#7c3aed);
}

/* LAYOUT */

.layout{
    display:flex;
}

/* SIDEBAR */

.sidebar{
    width:240px;
    height:100vh;
    background:#111827;
    color:white;
    padding:30px;
    position:fixed;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    margin:15px 0;
    padding:10px;
    border-radius:8px;
    transition:.3s;
}

.sidebar a:hover{
    background:#4f46e5;
}

/* MAIN */

.main{
    margin-left:260px;
    padding:40px;
    width:100%;
}

.title{
    color:white;
    margin-bottom:20px;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    margin-bottom:30px;
}

.card{
    background:white;
    padding:25px;
    border-radius:14px;
    box-shadow:0 8px 20px rgba(0,0,0,.2);
}

.card p{
    font-size:22px;
    font-weight:600;
    margin-top:10px;
}

/* TABLE */

.table-card{
    background:white;
    padding:25px;
    border-radius:14px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#111827;
    color:white;
    padding:12px;
}

td{
    padding:12px;
    text-align:center;
}

tr:nth-child(even){
    background:#f3f4f6;
}

.salary{
    color:#22c55e;
    font-weight:600;
}

.tax{
    color:#ef4444;
}

.net{
    color:#16a34a;
    font-weight:700;
}

/* BUTTONS */

.btn-edit{
    background:#3b82f6;
    color:white;
    padding:6px 12px;
    border-radius:6px;
    text-decoration:none;
}

.btn-delete{
    background:#ef4444;
    color:white;
    padding:6px 12px;
    border-radius:6px;
    text-decoration:none;
}

/* EMPLOYEE CARD VIEW */

.employee-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
}

.employee-card{
    background:white;
    padding:25px;
    border-radius:16px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    transition:.3s;
}

.employee-card:hover{
    transform:translateY(-8px);
}

.avatar{
    width:70px;
    height:70px;
    border-radius:50%;
    background:#4f46e5;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:26px;
    margin:auto;
    margin-bottom:15px;
}

.dept{
    color:gray;
}

.salary-box{
    display:flex;
    flex-direction:column;
    gap:6px;
    margin:15px 0;
}

.card-buttons{
    display:flex;
    justify-content:center;
    gap:10px;
}
